<div class="container">
   	<div class="row">
   		<div class="col-md-1"></div>
   		<div class="col-md-10">
            <div inform></div>
   			<ul class="list-group">
   				<li class="list-group-item post_list" ng-repeat='post in postCtrl.posts'>
   					<div class="cont">
	   					<h4>{{post.category_id}}</h4>
	   					<p class="post">{{post.post}}</p>
	   				</div>
   					<span class="icon_cont">
                        <a ui-sref="edit-post({id: post.id})">
                            <i class="fa fa-pencil-square-o post_edit" data-target="#editPost"></i>
                        </a>
                       
                        <i class="fa fa-times" ng-click="postCtrl.deletePost(post.id)"></i>
                    </span>
                    <div class="time">{{post.created_at}}</div>
   				</li>
   			</ul>
   		</div>
   		<div class="col-md-1"></div>
   	</div>
</div>